<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Games</h4>
        <div class="btn_container">
          <a href="#" class="btn btn-primary">Create new</a>
          <a href="#" class="btn">Edit</a>
          <a href="#" class="btn">Delete</a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Name</th>
              <th>Type</th>
              <th>Release Date</th>
              <th>Price</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of lstGame" (dblclick)="onDblclick(record)" (click)="lstGame.selectRow($event,item);">
                <td hidden>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.releaseDate}}</td>
                <td>{{item.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
